<div class="container">

  <section class="text-center py-4">
    <h2 class="h1-responsive font-weight-bold text-center mb-5 pt-4"><%= t('.header') %></h2>

    <% if @article.errors.any? %>
      <h2>The following errors prevented the article from saving:</h2>
      <ul>
        <% @article.errors.full_messages.each do |msg|%>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_for @article do |f| %>
      <div class="md-form">
        <%= f.text_field :title, class: 'form-control', onfocus: 'checkInputs();', onblur: 'checkInputs();' %>
        <%= f.label :title, t('.title') %>
      </div>
      <div class="md-form">
        <%= f.text_area :description, rows: 5, cols: 5, class: 'form-control md-textarea', length: 300, onfocus: 'checkInputs();', onblur: 'checkInputs();' %>
        <%= f.label :description, t('.description') %>
      </div>
      <div>
        <%= f.label :contents, t('.contents') %><br />
        <%= f.text_area :contents, rows: 10, cols: 25, class: 'tinymce' %>
      </div>
      <div>
        <%= f.label :category, t('.category') %>
        <% options = options_from_collection_for_select(@categories, 'id', 'title') %>
        <%= f.select :category, options %>
      </div>
      <%= f.hidden_field :author, value: current_user.id %>
      <div>
        <%= f.submit t('.submit') %>
      </div>
    <% end %>

  </section>

</div>

<%= tinymce %>