<!--Featured image-->

<div style="margin-bottom: -50px">
  <div class="view view-cascade overlay">
    <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(146).jpg" alt="Second wide sample post image" class="card-img-top">
    <a>
      <div class=""></div>
    </a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 card card-cascade">
        <!--Post data-->
        <div class="card-body card-body-cascade text-center">
          <h2>
            <a class="font-weight-bold"><%= @article.title %></a>
          </h2>
          <p><%= t('.author') %>: <%= @article.author.email %></p>
          <p><%= t('.category') %>:
            <a><%= @article.category.title %></a>, <%= @article.created_at %></p>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="excerpt mt-5">
        <%= @article.contents.html_safe %>
      </div>
    </div>
  </div>

  <!-- Comments -->
  <% if user_signed_in? %>
  <div class="row">
    <div class="col-12">
      <!-- Quick Reply -->
      <div class="form-group mt-4">
        <%= form_for [@article, @comment], remote: true, format: 'json', id: 'comment-form' do |f| %>
          <%= f.label :contents, t('.comment_welcome') %>
          <%= f.text_area :contents, rows: 5, class: 'form-control' %>

        <div class="text-center my-4">
          <%= f.submit t('.post'), class: 'btn btn-primary btn-sm waves-effect waves-light' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row">
      <div class="card-header border-0 font-weight-bold"><%= pluralize(@comments.length, t('.count')) %></div>
  </div>
  <div id="comment-box">
    <%= render 'comments', comments: @comments, article: @article %>
  </div>
</div>