<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!--Featured image-->

      <div class="card card-cascade wider reverse">
        <div class="view view-cascade overlay">
          <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(146).jpg" alt="Second wide sample post image" class="card-img-top">
          <a>
            <div class=""></div>
          </a>
        </div>

        <!--Post data-->
        <div class="card-body card-body-cascade text-center">
          <h2>
            <a class="font-weight-bold"><%= @article.title %></a>
          </h2>
          <p>Author: <%= @article.author.email %></p>
          <p>Category:
            <a><%= @article.category.title %></a>, <%= @article.created_at %></p>
        </div>
        <!--Post data-->
      </div>

      <!--Excerpt-->
      <div class="excerpt mt-5">
        <%= @article.contents.html_safe %>
      </div>
    </div>
  </div>
</div>