<h1><%= t('.header') %></h1>
<p>
  <%= link_to t('.create'), new_category_path %>
</p>
<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.actions') %></th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.title %></td>
      <td><%= link_to t('.edit'), edit_category_path(category) %>
      <%= link_to t('.show'), category_path(category) %>
      <%= link_to t('.delete'), category_path(category), method: :delete, data: {confirm: t('.sure')} %></td>
    </tr>
  <% end %>
</table>